---
import CardAdvice from '../components/CardAdvice.astro';
import '../style/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Frontend Mentor | Advice generator app</title>
    </head>
    <body>
        <!-- https://api.adviceslip.com/advice -->

        <CardAdvice />

        <script src="../scripts/main.js"></script>
    </body>
</html>
